* {box-sizing: border-box;}

html,
body {
  height: 100%;
  font-size: 17px;
  margin:0;
  padding:0;
  font-family: Arial, Helvetica, sans-serif;
  /*
  color:#1b313b;
  background:#ecf1f1;
  */
}

main, div {
    display: block;
}

.header {
    padding: 30px;
    text-align: center;
    background: #39695D;
    color: white;
    font-size: 30px;
  }

.clear{
    clear:both;
}

.resize{
    padding: 2% 2%;
    margin: 0.5% 0.5%;
}

.main{
    margin: 50px auto;
    width: 95%;
    max-width: 1500px;
}


.container {
    width: 95%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.contournable:hover {
    border: 1px solid #00A19D;
    z-index: 500;
    cursor: pointer;
}

.contournable {
    border: 1px solid #f2f8f9;
}

.incontournable{
    border: 3px solid red;
}

.card {
    display: none;
    top: 0px;
    position: relative;
    width: 13%;
    background-color: #f2f8f9;
    border-radius: 6px;
    padding: 22px 14px;
    margin: 1%;
    text-decoration: none;
    overflow: hidden;
    transition: all 0.3s ease-out;
    font-size: 14px;
}

@media screen and (max-width: 1250px){
    .card {
        width: 31%;
    }
    .btn{
        margin: 10px;
    }
}

@media screen and (max-width: 782px){
    .card {
        width: 48%;
        font-size: 11px;
    }
    .header h1{
        font-size: 20px;
    }
    table{
        font-size: 11px;
    }
}

.show {
    display: block;
}

#myBtnContainer{
    margin-bottom: 50px;
}

.btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #d5cfc4;
    cursor: pointer;
}

.btn:hover {
    background-color: #175874;
    color: white;
}

.btn.active {
    background-color: #39695D;
    color: white;
}

.selected{
    background-color: #175874;
    color: #fff;
}

#selected{
    background-color: #3a134e;
    color: white;
}

#selected:hover{
    background-color: #175874;
    
}

#selected.active{
    background-color: #39695D;
}

.right{
    float: right;
}

.button {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #39695D;
    color: white;
    cursor: pointer;
    margin: 0 5px;
}

.button:hover{
    background-color: #175874;
}

.table{
    padding-bottom: 10px;
}

table{
    margin-top: 10px;
}

th{
    padding: 20px 20px;
    text-align: left;
    background-color: #39695D;
    color: white;
}

td{
    padding: 10px 20px;
    text-align: left;
}

.info{
    text-align: center;
}