@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

nav {
    overflow: hidden;
    min-height: 50px;
    padding: 10px 20px;
    background-color: #3399FE;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
}

nav li {
    color: white;
    font-size: 24px;
    font-weight: 700;
    display: inline-block;
    padding: 14px 16px;
}

nav li:hover:not(.dropdown){
    cursor: pointer;
    opacity: 0.5;
}

nav li i {
    color: white;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #3399FE;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);    
}

.dropdown-content li{
    font-size: 20px;
}

.show {
    display: flex;
    flex-direction: column;
}

.open-menu {
    display: none;
}

@media screen and (max-width: 600px) {
    nav li:not(:first-child) {display: none;}

    .open-menu {
        display: block;
        width: 20px;
        margin: 0 auto;
    }

    .responsive ul {
        flex-direction: column;
    }

    .responsive li:not(:first-child){
        display: block;
        text-align: center;
    }

    .dropdown-content{
        position: relative;
        background: none;
        box-shadow: none;
    }

    .dropdown-content li{
        font-size: 16px;
    }
}

#app{
    min-height: calc(100vh - 123px);
    padding: 20px 50px;
}

footer {
    clear: both;
    width: 100%;
    bottom: 0;
    padding: 10px 0px;
    vertical-align: middle;
    text-align: center;
    background-color: #3399FE;
    color: white;
}